* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    background-color: black;
    color: White;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    transform: scale(110%);
}