<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem fuga inventore placeat modi vero. Voluptatem mollitia nam illo laudantium nobis vitae accusantium deleniti temporibus omnis provident, nulla obcaecati perferendis a.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, officiis temporibus ut culpa, facere accusantium aut officia beatae odit ex, labore dolore. Impedit inventore dolorum quod eveniet eius tempore ad.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolor perspiciatis sunt totam hic veritatis suscipit illo, libero consequatur quia, necessitatibus optio debitis sint ea, sequi eveniet impedit ab placeat?</p>
    </div>
</body>
</html>