<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../dist/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>

    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) {
            blogs.forEach(blog => { %>
                <h3><%= blog.title %></h3>
                <p><%= blog.snippet %></p>
          <% }) %>
       <% } else { %>
            <h4>---- No blogs at the moment ----</h4>
       <% }%>
    </div>
</body>
</html>