<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'File Created'}) %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Form data sent Successfully</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>